.blog-header-img img{
    width:1350px;
    height:500px;
   
}
/* blog heading */
.blog-heading h1{
    font-size:50px;
    text-align: center;
    margin-top: 30px;
    color: orange;
   
}
.blog-img{
margin-top:30px;
}
/* search form */
.search-form {
 background-color: dodgerblue;
 padding:15px;
 width:350px;
 height:200px;
 color: white;
 
}
.search-form h4{
    margin-bottom: 0;
}
.search-form  {
    background-color: dodgerblue;
   
   
}
.search-form input{
    padding:10px;
    color:white;
    margin-top:30px;
}
.search-form button{
    padding: 10px;
}