 .header{
  display: flex;
justify-content: space-between;
align-items: center;
background-color: black;
padding-left: 50px;
padding-right: 5px;
}
.header img{
  height:150px;
}
.header a {
  margin-left: 10px;
  text-decoration: none;}
  .header a:hover{
    background-color:red;
    color: white;
    padding:13px;
    border-radius: 10px;
  }