.femaleplayer img{
    width:350px;
    height:520px;
}
.femaleplayer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
  
}
.femaleplayer{
    color:darkslategray;
    margin-top:30px;
    text-align: center;
  font-style: italic;
  font-weight:500;
}



