.footer-background-color{
    background-color: rgb(13, 13, 72);
    height:620px;
}
.footer-section{
  
    margin-top:70px;
    display:flex;
    gap:8px;
    
}
.footer-heading{
   padding-top: 80px;
   margin-left: 80px;
   color: white;
  
}
.footer-form input{
background-color:yellow;
color: white;
border: none;
border-bottom: 1px solid gray;
padding: 10px;
}
.footer-img img{
  padding-left:60px;
}


   
