.nav-item,a{
    margin-left:10px;
    text-decoration: none;
    margin-top:10px;
    margin-right:10px;
    

    
}
.nav-item a:hover{
    background-color: black;
    color: yellow;
    padding: 15px;
    border-radius: 10px;
}
 .nav-item {
    display: flex;
    justify-content: end;
    margin-right: 15%;
}