.green{
    background-color: green;
    color: white;
}
.orange{
    background-color:orange;
    color: white;
}
.red{
    background-color:red;
    color: white;
}
.blue{
    background-color:darkblue;
    color: white;
}
.yellow{
    background-color:yellow;
   color:black
    
}
.purple{
    background-color:mediumorchid;
    color: white;
}
.darkslategray{
    background-color: darkslategray;
    color: azure;
}